<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>register4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item fill="outline" lines="none">
      <ion-input [(ngModel)]="name" type="text" labelPlacement="floating" label="name" placeholder="name"></ion-input>
    </ion-item>

    <ion-item fill="outline" lines="none">
      <ion-input  [(ngModel)]="email" type="email" labelPlacement="floating" label="email" placeholder="email"></ion-input>
    </ion-item>

    <ion-item fill="outline" lines="none">
      <ion-input  [(ngModel)]="password1" type="password" labelPlacement="floating" label="password" placeholder="password"></ion-input>
    </ion-item>

    <ion-item fill="outline" lines="none">
      <ion-input  [(ngModel)]="password2" type="password" labelPlacement="floating" label="password again" placeholder="password again"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="submit()" expand="block" color="secondary" >submit</ion-button>
</ion-content>
