<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Folder Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding">
  <ion-button expand="block" routerLink="/show-data" routerDirection="forward">
    Show Data
  </ion-button>
  <ion-button (click)="getYesNo()" expand="block" color="dark" fill="outline">Yes or No</ion-button>
  <div *ngIf="yesOrNo?.answer">
    <h1 class="ion-text-center">{{yesOrNo.answer}}</h1>
    <img [src]="yesOrNo.image"/>
  </div>
</ion-content>
