<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>register5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="name" type="text" labelPlacement="floating" label="name" placeholder="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="email" type="email" labelPlacement="floating" label="email" placeholder="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="password1" type="password" labelPlacement="floating" label="password 1" placeholder="password"> 
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="password2" labelPlacement="floating" label="password 2" placeholder="password" type="password"></ion-input>
      </ion-item>
  </ion-list>

  <ion-button (click)="submit()" expand="block" color="danger">submit</ion-button>
</ion-content>
