<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-list>

  <ion-item fill="outline" lines="none">
    <ion-input type="text" [(ngModel)]="name" labelPlacement="floating" label="name" placeholder="Your name"></ion-input>
  </ion-item>

  <ion-item fill="outline" lines="none">
    <ion-input type="email" [(ngModel)]="email" labelPlacement="floating" label="email" placeholder="Your email"></ion-input>
  </ion-item>

  <ion-item fill="outline" lines="none">
    <ion-input type="password" [(ngModel)]="password1" labelPlacement="floating" label="password" placeholder="Your password"></ion-input>
  </ion-item>

  <ion-item fill="outline" lines="none">
    <ion-input type="password" [(ngModel)]="password2" labelPlacement="floating" label="password again" placeholder="your password again"></ion-input>
  </ion-item>

</ion-list>

<ion-button expand="block" (click)="submit()">Submit</ion-button>
  
</ion-content>
