<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>register3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item fill="outline" lines="none">
    <ion-input [(ngModel)]="name" labelPlacement="floating" type="text" label="name"  placeholder="name"></ion-input>
  </ion-item>

  <ion-item fill="outline" lines="none">
    <ion-input labelPlacement="floating" [(ngModel)]="email" type='email' label="email" placeholder="email"></ion-input>
  </ion-item>

  <ion-item fill="outline" lines="none">
    <ion-input [(ngModel)]="password1" type="password" labelPlacement="floating" label="password" placeholder="password"></ion-input>
  </ion-item>

  <ion-item fill="outline" lines="none">
    <ion-input [(ngModel)]="password2" type="password" labelPlacement="floating" label="password" placeholder="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="submit()">submit</ion-button>
</ion-list>
</ion-content>
